table{
    background-color: silver;
    border: 3px solid yellow;
}
*{
    padding: 5px;
}
label{
    color: white;
}
#b1{
    background-color: blue;
}
#b2{
    background-color: red;
}